/* Remove Default Style in iOS */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-radius: 0;
    font-size: 1em;
    width: 100%;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

textarea {
    -webkit-appearance: none;
    border-radius: 0;
}