#map_canvas img {
 min-width: 0 !important;
 max-width: none !important;
}

.mapInfoBox {
	font-size: 1.3em;
	font-family: DINNextRegular,DINNextLight,"calibri light",calibri,arial,sans-serif;
	line-height: 1.4;
	float:left;
	padding: 13px;
	width: 75%;
	height:111px;
	overflow:hidden;
}

.mapInfoBox span{
	font-family: DINNextLight,"calibri light",calibri,arial,sans-serif;
	color: #8a8a8a;
}

.mapInfoBoxSideBar{
	float:right;
	width: 14%;
	height:111px;
	overflow:hidden;
	background-color: #5bc5ec;
}

.mapInfoBoxSideBar a div:hover {
	background-color: #2db5e7;
}

.mapInfoBoxSideBar a div {
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom:1px solid #6ecdf0;
	transition: background-color 500ms ease 0s;
}

.mapInfoBoxSideBar a div img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding: 7px;
}